* {
  box-sizing: border-box;
}

#lewy
{
  float:left;
  border: 6px #0099CC solid;
  background-color:#ccccff;
  font-size:35px;
  width: 25%;
  height: 100%;
}
#prawy
{
  float:right;
  border: 3px #0099CC solid;
  background-color:#00CCFF;
  width: 75%;
  height: 100%;
}
#temat
{
  font-size:80px;
}

a:link {color: blue;}
a:visited {color: green;}
a:active {color: red;}
